<?php
/**
 * Zucchi Locale Configuration
 *
 * copy this to ./config/autoload/zucchilocale.global.php and modify as required
 */
return array(
    'ZucchiLocale' => array(
        'locale' => array(
            'handlers' => array(
                'ZucchiLocale\Handlers\Query',
                'ZucchiLocale\Handlers\Route',
                'ZucchiLocale\Handlers\Host',
                'ZucchiLocale\Handlers\Cookie',
                'ZucchiLocale\Handlers\Session',
                'ZucchiLocale\Handlers\Header',
            ),
            'allowed' => array(
                'en_GB'
            ),
        ),
    ),
);
